*

!.gitignore
!UCCNC.exe.config
!README.md

!.vscode
!.vscode/*

!Profiles
!Profiles/Default.pro
!Profiles/Macro_Default
!Profiles/Macro_Default/*

!Flashscreen
!Flashscreen/BMP
!Flashscreen/BMP/Default2019
!Flashscreen/BMP/Default2019/*
!FlashScreen/SOUND
!FlashScreen/SOUND/*

!Screens
!Screens/Default2019.*

!Inspiration
!Inspiration/*
!Inspiration/AdaptingCamera
!Inspiration/AdaptingCamera/*

!Inspiration/VS Extensions
!Inspiration/VS Extensions/*